* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  width: 100%;
}

h1,
h2,
h4 {
  color: #222;
}

h1 {
  font-size: 60px;
  line-height: 64px;
}

h2 {
  font-size: 56px;
  line-height: 54px;
}

h4 {
  font-size: 30px;
}

h6 {
  font-weight: 700;
  font-size: 18px;
}

p {
  font-size: 19px;
  color: #465b52;
  margin: 1rem 0 1.25rem 0;
}

button.normal {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.6875rem 1.125rem;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

.section-p1 {
  padding: 2.5rem 5rem;
}

.section-m1 {
  margin: 2.5rem 0;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 5rem;
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  inset: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.navbar li {
  list-style: none;
  position: relative;
}

.navbar li a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  color: #1a1a1a;
  transition: color 0.3s;
}

.navbar li a:hover,
.navbar li a.active {
  color: #088178;
}

.navbar li a::before {
  content: "";
  width: 50%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  opacity: 0;
  transition: all 0.3s;
}

.navbar li a.active::before,
.navbar li a:hover::before {
  opacity: 1;
}

.mobile {
  display: none;
}

.close {
  display: none;
}

/* Hero Section */
.hero {
  background-image: url("img/hero4.png");
  height: 90vh;
  background-position: top 25% right 0;
  background-size: cover;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero h4 {
  padding-bottom: 1rem;
}

.hero h1 {
  color: #088178;
}

.hero button {
  background-image: url("img/button.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  color: #088178;
  border: none;
  padding: 1rem 5rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.3rem;
}

/* Featurs Section */
.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature .feature-box {
  width: 11.25rem;
  text-align: center;
  padding: 1.56rem 1rem;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  margin: 1rem 0;
  transition: box-shadow 0.3s;
}

.feature .feature-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

.feature .feature-box img {
  width: 100%;
  margin-bottom: 0.625rem;
}

.feature .feature-box h6 {
  display: inline-block;
  padding: 0.5625rem 0.5rem 0.375rem 0.5rem;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
  font-weight: 500;
}

.feature .feature-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
.feature .feature-box:nth-child(3) h6 {
  background-color: #f1e8f2;
}
.feature .feature-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
.feature .feature-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
.feature .feature-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

/* Products */
.product1 {
  text-align: center;
}

.product1 .pro-container {
  display: flex;
  justify-content: space-around;
  padding-top: 1.25rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.product1 .pro {
  width: 23%;
  min-width: 15.625rem;
  padding: 0.625rem 0.75rem;
  border: 1px solid #e1e1e1;
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  cursor: pointer;
  margin: 1rem 0;
  transition: 0.2s;
  position: relative;
}

.product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

.product1 .pro .des {
  text-align: start;
  padding: 0.7rem 0;
}

.product1 .pro .des span {
  color: #606063;
}

.product1 .pro .des h5 {
  padding-top: 0.5rem;
  color: #1a1a1a;
  font-size: 1.1rem;
}

.product1 .pro .des .star {
  padding-top: 0.5rem;
}

.product1 .pro .des i {
  font-size: 1rem;
  color: #ffca43;
}

.product1 .pro .des h4 {
  padding-top: 1rem;
  margin-right: 5rem;
  font-weight: 700;
  color: #054e49;
  text-align: center;
  font-size: 3rem;
}

.product1 .pro .cart {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 100vmax;
  background-color: #e8f6ea;
  color: #088178;
  position: absolute;
  bottom: 17px;
  right: 30px;
  border: 1px solid #e1e1e1;
}

/* Banner */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("img/banner/b2.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
}

.banner h4 {
  color: #fff;
  font-size: 1.4rem;
}

.banner h2 {
  color: #fff;
  font-size: 2.2rem;
  padding: 0.625rem 0;
}

.banner h2 span {
  color: #ef3636;
}

.banner button:hover {
  background-color: #088178;
  color: #fff;
}

/* Banners */
.sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("img/banner/b17.jpg");
  background-size: cover;
  background-position: center;
  min-width: 36.25rem;
  height: 50vh;
  padding: 2rem;
}

.sm-banner .banner-box2 {
  background-image: url("img/banner/b10.jpg");
}

.sm-banner h4 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
}

.sm-banner h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 800;
}

.sm-banner span {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

.sm-banner .banner-box:hover button {
  background-color: #088178;
  border: 1px solid #088178;
}

.banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 5rem;
}

.banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("img/banner/b7.jpg");
  background-size: cover;
  background-position: center;
  min-width: 30%;
  height: 30vh;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
}

.banner3 .banner-box2 {
  background-image: url("img/banner/b4.jpg");
}

.banner3 .banner-box3 {
  background-image: url("img/banner/b18.jpg");
}

.banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 1.5rem;
}

.banner3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 1rem;
}

/* Sign Up */
.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("img/banner/b14.png");
  background-position: 20% 30%;
  background-repeat: no-repeat;
  background-color: #041e42;
}

.newsletter .newstext h4 {
  color: #fff;
}

.newsletter .newstext p {
  color: #818ea0;
}

.newsletter .form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.newsletter .form input {
  width: 20rem;
  height: 3rem;
  border-radius: 5px 0 0 5px;
  padding-left: 1rem;
  font-size: 1.1rem;
  border: none;
  outline: none;
}

.newsletter .form input::placeholder {
  color: #a8a8a8;
}

.newsletter .form button {
  background-color: #088178;
  color: #fff;
  border: none;
  border-radius: 0px 5px 5px 0;
  font-size: 1.1rem;
}

/* Footer */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1.25rem;
}

footer .logo {
  margin-bottom: 1.875rem;
}

footer h4 {
  font-size: 1.2rem;
  padding-bottom: 1.25rem;
}

footer p {
  font-size: 1rem;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 1rem;
  text-decoration: none;
  color: #222;
  margin-bottom: 0.625rem;
}

footer .follow {
  margin-top: 1.25rem;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

/* Mobile version */
@media (max-width: 50em) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 18.75rem;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 5rem 0 0 2rem;
    transition: 0.3s;
  }

  .navbar.active {
    right: 0;
  }

  .mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile i {
    color: #1a1a1a;
    font-size: 2rem;
    padding-left: 2.5rem;
    cursor: pointer;
  }

  .close {
    display: inline;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 2rem;
  }

  .lg-bag {
    display: none;
  }
}

@media (max-width: 30em) {
  .header {
    padding: 1.25rem 0.9rem;
  }
}
